---
title: Fixture page
description: This is a ficture page
tags: ruby, middleman, blog
date: 2014-04-12 04:00
author:
  first_name: Test
  last_name: Author
  username: test_author
  gender: female
section: Test Section
modified_time: 2014-04-13 03:00
expiration_time: 2018-04-12 04:00
---

h1 Hello article

p This is article
