---
title: Multi author fixture page
date: 2019-07-18 16:45
authors:
- first_name: Maria
  last_name: Eaton
  username: meaton
  gender: female
- first_name: Shawn
  username: justshawn
  gender: male
---

h1 Hello multi author article

p This is a multi author article
