---
title: Fixture page
ogp:
  og:
    description: 'This is my fixture Middleman article for OpenGraph.'
    image:
      '': http://mydomain.tld/path/to/og-article-image.png
      secure_url: https://secure.mydomain.tld/path/to/og-article-image.png
      type: image/png
      width: 400
      height: 300
    locale:
      '': en_us
      alternate:
        - ja_jp
        - zh_tw
  fb:
    description: 'This is my fixture Middleman article for Facebook.'
    image:
      '': http://mydomain.tld/path/to/fb-article-image.png
      secure_url: https://secure.mydomain.tld/path/to/fb-article-image.png
      type: image/png
      width: 400
      height: 300
---

h1 Hello page

p This is page
